.mainwrap {
    width: auto;
    height: 982px;
    display: flex;
    flex-direction: column;

    .topArea {
        width: 100%;
        min-width: 1495px;
        height: 120px;
        background: $tag_Bg;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        //box-shadow: 0px 120px 8px $shadow01;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            width: 20%;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: $scrollBar_thumb;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $scrollBar_track;
            border-radius: 10px;
        }

        .tag {
            width: 350px;
            height: 85px;
            background: $sub_color;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: 0px 2px 5px $shadow02;
            margin-right: 20px;
            border-radius: 8px;
            position: relative;

            .type {
                color: $sub_font;
                font-size: 12px;
                font-weight: bold;
                text-align: center;
            }

            .content {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .team {
                    width: 33%;
                    height: 100%;

                    p {
                        color: $main_font;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                .point {
                    width: 33%;
                    height: 100%;

                    p {
                        color: $score;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 5px 0;
                    }

                    .detail {
                        margin-top: 0;
                    }
                }

                .detail {
                    color: $sub_font;
                    font-size: 13px;
                    font-weight: bold;
                    margin-top: 15px;
                }
            }

            &:nth-of-type(1){
                &::before {
                    background: $tag_orange;
                }
            }
            &:nth-of-type(2){
                &::before {
                    background: $tag_blue;
                }
            }
            &:nth-of-type(3){
                &::before {
                    background: $tag_green;
                }
            }
            &:nth-of-type(4){
                &::before {
                    background: $tag_red;
                }
            }

            &::before {
                content: "";
                width: 5px;
                height: 100%;
                border-radius: 8px 0 0 8px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    .downArea {
        width: auto;
        height: 860px;
        display: flex;
        

        //左側按鈕
        .sideLeft {
            width: 80px;
            height: auto;
            background: $side_bg;
            display: flex;
            flex-direction: column;
            padding: 12px;
            box-sizing: border-box;
            z-index: 2;

            li {
                width: 50px;
                height: 53px;
                background: transparent;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
                cursor: pointer;

                &:hover,&:active,&.active {
                    background: $side_HOV_bg;
                    border-radius: 80px;
                    transition: 0.2s;

                    i {
                        background-position-x: 100%;
                    }
                }

                    .basketball {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .socer {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .baseball {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .hockey {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
                    .ball {
                        width: 25px;
                        height: 25px;
                        background-position-x: 0%;
                    }
            }
        }

        //中部
        .middle {
            width: auto;
            height: auto;
            background: $mid_bg;
            display: flex;
            flex-direction: column;
            position: relative;

            .funtionArea {
                width: 100%;
                height: 61px;
                display: flex;
                justify-content: space-between;
                padding: 12px;
                box-sizing: border-box;

                .switchBtn {
                    width: 301px;
                    height: 37px;
                    background: $sub_color;
                    border-radius: 10px;
                    display: flex;
                    box-shadow: 0px 2px 5px $shadow02;
                    overflow: hidden;
                    cursor: pointer;

                    div {
                        width: 108px;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $lightgray_font;
                        font-weight: bold;
                        
                        &:hover,&:active,&.active {
                            background: $main_color;
                            border-radius: 10px 28px 0 10px;
                            color: $light_font;
                            position: relative;

                            &::before {
                                content: "";
                                width: 12px;
                                height: 11px;
                                position: absolute;
                                bottom: 0;
                                right: -12px;
                            }
                        }

                        &:last-child {
                            &:hover,&:active,&.active {
                                background: $main_color;
                                border-radius: 28px 10px 0 0;
                                color: $light_font;
                                position: relative;
    
                                &::before {
                                    content: "";
                                    width: 12px;
                                    height: 11px;
                                    transform: rotate(-90deg);
                                    position: absolute;
                                    bottom: 0;
                                    left: -11.49px;
                                }
                            }
                        }
                    }
                }

                .collapse {
                    width: 118px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $sub_color;
                    border-radius: 10px;
                    cursor: pointer;

                    i {
                        width: 24px;
                        height: 15px;
                        margin-right: 8px;
                    }

                    p {
                        font-size: 11px;
                        font-weight: bold;
                    }
                }
            }

            .dataBox {
                width: 100%;
                height: auto;
                padding: 0 12px;
                box-sizing: border-box;

                .gameBlock {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    background: $sub_color;
                    border-radius: 10px;
                    box-sizing: border-box;
                    box-shadow: 0px 2px 8px $shadow02;
                    margin-bottom: 12px;
                    overflow: hidden;
                    position: relative;
                    
                    .title {
                        width: 100%;
                        height: 47px;
                        display: flex;
                        color: $gametitle_font;
                        font-size: 20px;
                        font-weight: bold;
                        cursor: pointer;

                        p {
                            width: 15%;
                            margin: 11px 0 0 40px;
                        }

                        div {
                            width: 1330px;
                            position: relative;

                            .decoPic {
                                width: 100%;
                                height: 57px;
                                position: absolute;
                                top: -5px;
                                right: -10px;
                            }
                        }
                    }
                    
                    .content {
                        display: flex;
                        width: 100%;
                        height: auto;
                        padding: 0 0 15px 40px;
                        box-sizing: border-box;

                        .fixed_item {
                            width: 400px;
                            height: 100%;
                            position: relative;

                            .state {
                                width: 100%;
                                height: 50px;
                                display: flex;
                                align-items: center;

                                div {
                                    width: 64px;
                                    height: 20px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background: $state_BG;
                                    border-radius: 10px;
                                    color: $lightgray_font;
                                    font-size: 12px;
                                    font-weight: bold;
                                    margin-right: 10px;

                                    &.live {
                                        .live_ic {
                                            width: 10px;
                                            height: 10px;
                                            margin-right: 5px;
                                            background-color: $lightgray_font;
                                        }

                                        &:hover,&:active,&.active {
                                            background: $state_LIVE;
                                            color: $light_font;

                                            .live_ic {
                                                background-color: $sub_color;
                                            }
                                        }
                                    }

                                    &.analysis {
                                        .anal_ic {
                                            width: 12px;
                                            height: 11px;
                                            margin-right: 5px;
                                            background-position-y: 0%;
                                        }

                                        &:hover,&:active,&.active {
                                            background: $state_Analysis;
                                            color: $light_font;

                                            .anal_ic {
                                                background-position-y: 100%;
                                            }
                                        }
                                    }

                                    &:last-child {
                                        margin-right: 0;
                                    }
                                }
                            }

                            .dateTeam {
                                width: 100%;
                                height: auto;
                                display: flex;
                                align-items: center;
                                font-size: 13px;
                                font-weight: bold;

                                div {
                                    height: 50px;
                                    display: flex;
                                    flex-direction: column;

                                    &:first-child {
                                        width: 25%;
                                        padding: 6px 10px 0px 10px;
                                        box-sizing: border-box;

                                        p {
                                            color: $lightgray_font;
                                            margin-bottom: 8px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                        }    
                                    }

                                    &:last-child {
                                        width: 75%;

                                        p {
                                            color: $main_font;
                                            margin-bottom: 15px;

                                            &:last-child {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .score {
                            width: 118px;
                            height: 100%;
                            padding: 50px 0 0;
                            box-sizing: border-box;
                            position: relative;

                            p {
                                color: $main_font;
                                font-size: 13px;
                                font-weight: bold;
                                text-align: center;
                                margin-bottom: 8px;

                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }

                            &::before {
                                content: "";
                                width: 1px;
                                height: 46px;
                                background: $header_border;
                                position: absolute;
                                bottom: -9px;
                                right: 0;
                            }
                        }

                        .teamList {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            overflow: auto;

                            &::-webkit-scrollbar {
                                width: 8px;
                                height: 8px;
                            }
                    
                            &::-webkit-scrollbar-thumb {
                                background: $scrollBar_thumb;
                                border-radius: 10px;
                            }
                    
                            &::-webkit-scrollbar-track {
                                background: $scrollBar_track;
                                border-radius: 10px;
                            }

                            li {
                                width: 18%;
                                height: 85%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                .teamName {
                                    height: 50px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: $deco_color;
                                    font-weight: bold;
                                }

                                .data {
                                    width: 100%;
                                    height: 48px;
                                    display: grid;
                                    grid-template-columns: repeat(2,25%);
                                    gap: 2px;
                                    justify-content: center;
                                    color: $main_font;
                                    font-size: 13px;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                        }

                        .status {
                            width: 118px;
                            height: 100%;

                            .itemName {
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: $deco_color;
                                font-weight: bold;
                            }
                        }
                        
                        .none {
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $lightgray_font;
                            font-weight: bold;
                        }
                     
                    }

                    &::before {
                        content: "";
                        width: 80%;
                        min-width: 1330px;
                        height: 57px;
                        border-radius: 0 10px 0 40px;
                        position: absolute;
                        top: -3px;
                        right: -5px;
                        cursor: pointer;
                    }

                    .arrow {
                        width: 17px;
                        height: 13px;
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        cursor: pointer;
                    }

                    &.active {
                        height: 44px;

                        .arrow {
                            transform: rotate(180deg);
                            transition: 0.3s;
                        }
                    }
                }
            }
        }

        //右側
        .sideRight {
            width: 205px;
            height: auto;
            display: flex;
            justify-content: center;
            background: $sub_color;
            padding: 10px;
            box-sizing: border-box;
            z-index: 2;
            cursor: pointer;

            .pic {
                width: 175px;
                height: 173px;
            }
        }
    }
}