html {
    width: 100%;
    height: auto;

    body {
        width: auto;
        height: 100%;
        position: relative;

    }

    @import "./_header";
    @import "./_mainWrap";
    @import "./_footer";
    @import "./_aside";
}